b {
    text-transform: capitalize;
  }
  
  .investment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .attributes {
    text-align: left;
  }